@import url('https://fonts.googleapis.com/css?family=Quicksand');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Outfit:wght@100..900&display=swap');

html,body {
  height: 100%;
}




.header{
	 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Outfit", sans-serif;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.yesterday {
  position: absolute;
  top: -50px; /* Move it above "Today's" */
  left: -100px; /* Move it to the left */
}


.tomorrow {
  position: absolute;
  bottom: -50px; /* Move it below "Today's" */
  right: -100px; /* Move it to the right */
}

.wrapper {
  height: 100%;
  line-height: 1.5;
  word-spacing: 4px;
  letter-spacing: 1px;
}



.fixed-bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%; 
  width: 100%;
  color: rgb(0, 0, 0);
  text-align: center;
  display: table;
}

.fixed-bg h1 {
  display: table-cell;
  vertical-align: middle;
}

.scroll-bg {
  background-color: #F6EACB;
  padding: 10px 70px;
  color: #584141;
}

/* first section */

.bg-1 {
  background-image: url('images/mountain.jpg')
}

/* third section */

.bg-2 {
  background-image: url('images/funeral.png');
}

.subtitle{
	font-size: 12px;
}

/* fifth section */

.bg-3 {
  background-image: url('images/snow.jpg');
}


.container{
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.chart{
  padding-top: 50px;
  padding-bottom: 50px;
}

h2 {text-align: center;
font-family: "Noto Sans JP", sans-serif;}

p,h4{
	font-family: "Noto Sans JP", sans-serif;
}