@import url('https://fonts.googleapis.com/css?family=Quicksand');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Outfit:wght@100..900&display=swap');

html,body {
  height: 100%;
}




.header{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Outfit", sans-serif;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.yesterday {
  position: absolute;
  top: -50px; /* Move it above "Today's" */
  left: -100px; /* Move it to the left */
}


.tomorrow {
  position: absolute;
  bottom: -50px; /* Move it below "Today's" */
  right: -100px; /* Move it to the right */
}

.wrapper {
  height: 100%;
  line-height: 1.5;
  word-spacing: 4px;
  letter-spacing: 1px;
}



.fixed-bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%; 
  width: 100%;
  color: rgb(0, 0, 0);
  display: table;
}

.fixed-bg h1 {
  display: table-cell;
  vertical-align: middle;
}

.scroll-bg {
  background-color: #F6EACB;
  padding: 10px 70px;
  color: #584141;
}

/* first section */

.bg-1 {
  background-image: url('images/header_static.png')
}

/* third section */

.bg-2 {
  background-image: url('images/building.png');
  color: white
}

.bottom_part{
	background-color:#584141;
  padding: 10px 70px;
  color:  #F6EACB ;
}

.quote{
	text-align: center:
}

.subtitle{
	font-size: 12px;
}

/* fifth section */

.bg-3 {
  background-image: url('images/building2.png');
  color:white;
}


.container{
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.chart{
  padding-top: 50px;
  padding-bottom: 50px;
}

h2 {text-align: center;
font-family: "Noto Sans JP", sans-serif;}

p,h4{
	font-family: "Noto Sans JP", sans-serif;
}

a{
	color:green;
}



@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap');
.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 100px 0;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.timeline-content {
  padding: 20px;
  border-radius: 5px;
  padding: 1.75rem;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
   -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
          box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  background-color: #584141;
}

.timeline-component {
  margin: 0px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    background-image: linear-gradient(45deg, #caf7be, #8cc45e, #365c17);
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #caf7be, #8cc45e, #365c17);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}


.fixed-bg a{
	color: #caf7be;
}